#columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
}


#to-dos {
    text-align:center;

}

#habits {
    text-align:center;
}

#goals {
    text-align:center;
}

#todoButton:hover{
    background-color: #DADFE1;
}

.row {
    background-color : #F2F1EF;
    
}

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

