@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic);

/* NAVBAR STUFF */

.toolbar {
	top: 0;
	right: 0;
	width: 100%;
	background-color: #f4f7f7;
	border-bottom: 1px solid #bacbcf;
}

.toolbar-nav{
	white-space: nowrap;
	float: left;
	padding: .618em;
}

.toolbar-button{
	list-style: none;
	padding: .25em .5em !important;
	font-size: 1em;
	cursor: pointer;
	background-color: #f4f7f7 !important; 
	border: 1px solid #ccc !important;
	border-radius: .382em !important;
}

.toolbar-button a{
	text-decoration: none !important;
	color: #000000;
}

.toolbar-container ul li{
	display: inline-block !important;
}

.toolbar-nav li{
	margin-right: .618em;
}

.toolbar-currency .gold{
	color: #946e00;
}

.shop_gold{
	background-image: url(sprites/gold_coin.png);
	background-position: -1730px, -1135px;
	width: 27px;
	height: 22px;
	vertical-align: top;
	display: inline-block;
}

.avatar{
	margin-left: 130px;
	height: 90px;
}
/* TEXT BUBBLES */
.text{
	border: 5px solid #c3d1d6;
	margin: 15px 15px;
	padding: 20px 20px;
	font-family: Lato, sans-serif;
	font-size: 20px;
	text-align: center;
}

.welcome{
	font-family: Lato, sans-serif;
	font-size: 80px;
	text-align: center;
	border: 5px dotted black;
	margin-top: 10px;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 10px;
}

/* PROFILE BAR */

.header-wrap{
	width: 1280px;
	padding: 46px 0 0;
	border-bottom: 1px solid rgba(0,0,0,.2);
	background-color:#c5d3d6;
}

.site-header{
	display: table;
	height: 10.5em;
	width: 100%;
}

.hero-stats{
	padding: 1.1em 1em 0;
	background-color: #cfdbde;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	border-right: 1px solid #bacbcf;
	width: 75%;
}

.hero-stats .health{
	background: #fcf0f0;
	color: #250808;
}

.hero-stats .health .bar{
	background: #da5353;
	border-color: #6f1818;
}

.hero-stats .meter{
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
	height: 1.618em;
	margin: 0 0 1em;
	outline: #999 solid 1px;
}

.hero-stats .meter-text{
	position: absolute;
	top: 0;
	line-height: 1.618;
	white-space: nowrap;
}

.hero-stats .meter-text.value{
	right: .382em;
}

.hero-stats .meter-label{
	padding: .382em .618em !important;
	float: left;
	background-color: #b0c3c7 !important;
	text-shadow: -1px -1px 1px #2f3f42, 1px -1px 1px #2f3f42, -1px 1px 1px #2f3f42, 1px 1px 1px #2f3f42;
	width: 2.618em;
	outline: #999 solid 1px;
	text-align: center;
	margin-right: .618em;
	border: 1px solid #fff;
	font-size: .8em;
	line-height: 1;
	color: #fff;
	letter-spacing: .0618em;
	font-weight: 700;
}

.herobox .avatar-level, .herobox .avatar-name{
	padding: .382em .618em !important;
	float: left;
	background-color: #b0c3c7 !important;
	text-shadow: -1px -1px 1px #2f3f42, 1px -1px 1px #2f3f42, -1px 1px 1px #2f3f42, 1px 1px 1px #2f3f42;
	outline: #999 solid 1px;
	text-align: center;
	border: 1px solid #fff;
	color: #fff;
	letter-spacing: .0618em;
	font-weight: 700;
}

.hero-stats .experience{
	background: #fffbf0;
	color: #2e2200;
}

.hero-stats .experience .bar{
	background: #ffcc35
	border-color #8a6700;
}

.hero-stats .experience .meter-text span a{
	color: #5c4400;
}

.herobox{
	height: 10.5em;
	margin: 0;
	position: relative;
	cursor: pointer;
	padding-top: 2em;
	background: #c5d3d6;
}

.herobox .avatar-name{
	max-width: 132px;
	top: 4px;
	left: 4px;
	position: absolute;
}

.herobox .character-sprites{
	width: 6.4em;
	height: 6.4em;
	margin: 0 auto;
}

.herobox .avatar-level{
	bottom: 4px;
	right: 4px;
	position: absolute;
}

.herobox-wrap{
	display: table-cell;
	vertical-align: middle;
	width: 10em;
	height: 10.5em;
}

/* GENERAL PAGE LAYOUT */

#wrap{
	padding: 0 15px;
	height: auto !important;
}

/* STORE */

/* TASKS LIST */
.tasks-lists .row{
	margin-left: -5px;
	margin-right: -5px;
}

.tasks-lists .row .col-md-3{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
}

#myC{
	width:100%;
	background-color : #F2F1EF;
}

.item, item active{
	text-align: center;	
}

.carousel-indicators li{
	visibility: hidden;
}

.habits{
	padding: 1.5em;
	background: #f2f5f6;
	border: 1px solid #c3d1d6;
	font-family: Lato, sans-serif;
	margin-top: 15px;
}

.tasks-column .task-column_title{
	margin: 0 0 .5em;
	padding: 0;
	font-weight: 300;
}

.tasks-column h2{
	color: #4c666e;
}

.task-add{
	position: relative;
	margin-top: 1.5em;
	border: none;
	border-radius: .382em;
}

.task-add input, .task-add textarea{
	width: 80%;
	height: 2.618em;
	float: left;
	border: 1px solid #ccc;
	border-radius: .382em 0 0 .382em !important;
	margin-bottom: 1.5em;
}

.task-add button{
	float: right;
	width: 20%;
	height: 1.3em;
	border-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left: none;
	border-radius: 0 .382em .382em 0;
}

.task-add .glyphicon{
	color: #4f6a77;
	font-size: 2em;
}

.task{
	list-style: none;
	clear: both;
	padding: 0;
	margin-bottom: .75em;
	position: relative;
	min-height: 3em;
}

.color-neutral{
	background-color: #fff2cc;
	border: 1px solid #e5d9b7;
}

.task-meta-controls{
	float: right;
	margin: .75em .5em 0;
	height: 1em;
	opacity: .25;
}

.task-meta-controls button{
	border: none;
	outline: none;
	background: none;
}

.task-controls{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	float: none;
	margin: 0;
	display: inline-block;
}

.task-actions{
	background-color: #ffcf42;
	width: 3em;
	height: 100%;
}

.task-text{
	display: block;
	padding: .75em 0 .75em 3.75em;
	line-height: 1.4;
	word-wrap: break-word;
}

.complete {
	position: relative;
	margin-top: 9px;
	margin-bottom: 3px;
	margin-left: 4px;
}





