<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
    <link href="../static/store.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="content" >
	  <table>
	    `<tr>
	      <th id="equipment">Equipment</th>
	      <th id="usermade">User-Made</th>
	      <th id="tbd">IRL</th>
	    </tr>
	    <tr>
	      <td>
		<div class="text_container">
		    <h3>Equipment</h3>
		    <p>Things</p>
		  </div>
		  <div class="text_container">
		    <h3>User-Made</h3>
		    <ul>
		    </ul>
		    <button id="add">Add</button>
		  </div>
		  <div class="text_container">
		    <h3>Real Life</h3>
		    <p>Coming Soon!</p>
		  </div>
	      </td>
	    </tr>
	  </table>
    </div>
    <script src="../static/store.js"></script>
  </body>
</html>
