<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Life^2</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/custom.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
  <table>
    <tr>
      <th>Equipment</th>
      <th>HP</th>
      <th>ATK</th>
      <th>ATK Speed</th>
      <th>Speed</th>
      <th>Def</th>
      <th>Int</th>
      <th>Price</th>
    </tr>
    <tr>
      {{equipment1}}
    </tr>
    <tr>
      {{equipment2}}
    </tr>
    <tr>
      {{equipment3}}
    </tr>
  </table>
</body>
</html>
